html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
    /* Esta linea junto con la box-sizing hace que el padding y
    a no afecte a los tamaños establecidos, es decir
    que se puedan aplicar sin modificar el tamaño */
}
a{
    text-decoration: none;
}

.nav-bg{
    background-color: #032221;
    
}
.navegacion-principal{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 15px;
    margin-right: 65px;
    a{
        padding: 8px 8px;
        font-family: "Afacad Flux", sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: white;
        margin-left: 50px;
    }
}
.navegacion-principal a:hover{
    background-color: #2CC295;
    border-radius: 22px;
}
.navegacion-principal h1{
    color: white;
    font-family: "Mitr", sans-serif;
    margin-right: auto;
    margin-left: 50px;
    font-size: 29px ;
}
/* Responsive Navbar */
@media (max-width: 800px) {
    .navegacion-principal{
        flex-direction: column;
       margin-right: auto;
    }
    .navegacion-principal h1{
        margin-left: auto;
     
    }
    
}

/* Section Hero */
/* .hero{
    background-image: url('../Images/banner_trasnportefv.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    height: 110vh; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    margin: 0;
    h2{
        margin-top: -24%;
        margin-left: -30%;
        font-family: "Mitr", sans-serif;
        font-size: 50px;
        color: #001F3F;
        font-weight: bold;
        
    }
    
}
@media (min-width: 1100px) {
    .span-titulo{
        color: white;
        font-weight: bold;
    } 
}

@media (max-width: 1300px) {
    .hero {
        h2{
        font-weight: 400;
        margin-left:0px;
        margin-top: -80%;
        text-align: center;
         color: #001F3F; 
         transition: transform 0.3s, #001F3F 0.3s; 
        }
    }
    h2:hover {
        transform: scale(1.15); 
        color: #001F3F;
    }
    
} */
/* Hero */
.hero{
    background-image: url(../Images/banner_transporte_fv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
    position: relative;
    margin-bottom: 2rem;
}   
.contenido-hero{
   position: absolute;
   width: 100%;
   height: 100%;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   h2{
    margin-top: -10%;
    font-family: "Mitr", sans-serif;
    font-size: 50px;
    color: #798645;
    font-weight: bold;
   }
   /* Forma de alinear verticalmente */
}
.boton{
    background-color: #2FA98C;
    color:white;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
    background-color: #00DF81;
}

.sobre-fernando{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}



